In [1]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

courses_collection.delete_many({})

operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
    
    UpdateOne(
        {'course': 'CS 102'},
        {'$set': {'enrollments': 32}}
    ),

    DeleteOne({'enrollments': {'$lt': 18}})
]

result = courses_collection.bulk_write(operations)
print("Bulk write completed.")

print("\n=== FINAL DATA ===")
for course in courses_collection.find():
    print(course)

Bulk write completed.

=== FINAL DATA ===
{'_id': ObjectId('690ea83bec6c939e1cdcb01b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01c'), 'course': 'CS 102', 'enrollments': 32, 'department': 'Computer Science'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}

In [2]:
#2A
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('690ea83bec6c939e1cdcb01b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01c'), 'course': 'CS 102', 'enrollments': 32, 'department': 'Computer Science'}

In [3]:
#2B
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('690ea83bec6c939e1cdcb01b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01c'), 'course': 'CS 102', 'enrollments': 32, 'department': 'Computer Science'}

In [4]:
#3A
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 32.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [6]:
#3B
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 32}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Mathematics', 'max_enrollment': 30}

In [8]:
#4A
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690ea83bec6c939e1cdcb01b'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01c'), 'enrollments': 32, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01d'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}

In [12]:
#4B
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690ea83bec6c939e1cdcb01b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01c'), 'course': 'CS 102', 'enrollments': 32, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('690ea83bec6c939e1cdcb01d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}

In [34]:
students = db['students']

students.delete_many({})

students_data = [
    {'student_id': 1, 'name': "Dina", 'major': "Mathematics", 'course_id': 1},
    {'student_id': 2, 'name': "Fajar", 'major': "Mathematics", 'course_id': 1},
    {'student_id': 3, 'name': "Indra", 'major': "Computer Science", 'course_id': 2},
    {'student_id': 4, 'name': "Samsul", 'major': "Computer Science", 'course_id': 2},
    {'student_id': 5, 'name': "joko", 'major': "Chemical Engineering", 'course_id': 10},
    {'student_id': 6, 'name': "Eldyss", 'major': "History", 'course_id': 3},
    {'student_id': 7, 'name': "Buana", 'major': "Information Technology", 'course_id': 11},
    {'student_id': 8, 'name': "Kaesang", 'major': "Civil Engineering", 'course_id': 12},
    {'student_id': 9, 'name': "Gibran", 'major': "Philosophy", 'course_id': 13},
    {'student_id': 10, 'name': "Uskho", 'major': "Mathematics Science", 'course_id': 14},
    {'student_id': 11, 'name': "Nicolas", 'major': "Physics", 'course_id': 4},
    {'student_id': 12, 'name': "Saputra", 'major': "Software Engineering", 'course_id': 15},
]

students.insert_many(students_data)

print("=== ᴅᴀᴛᴀ ꜱᴛᴜᴅᴇɴᴛꜱ ꜱᴀᴀᴛ ɪɴɪ ===")
for student in students.find({}, {'_id': 0}):
    print(student)

=== ᴅᴀᴛᴀ ꜱᴛᴜᴅᴇɴᴛꜱ ꜱᴀᴀᴛ ɪɴɪ ===
{'student_id': 1, 'name': 'Dina', 'major': 'Mathematics', 'course_id': 1}
{'student_id': 2, 'name': 'Fajar', 'major': 'Mathematics', 'course_id': 1}
{'student_id': 3, 'name': 'Indra', 'major': 'Computer Science', 'course_id': 2}
{'student_id': 4, 'name': 'Samsul', 'major': 'Computer Science', 'course_id': 2}
{'student_id': 5, 'name': 'joko', 'major': 'Chemical Engineering', 'course_id': 10}
{'student_id': 6, 'name': 'Eldyss', 'major': 'History', 'course_id': 3}
{'student_id': 7, 'name': 'Buana', 'major': 'Information Technology', 'course_id': 11}
{'student_id': 8, 'name': 'Kaesang', 'major': 'Civil Engineering', 'course_id': 12}
{'student_id': 9, 'name': 'Gibran', 'major': 'Philosophy', 'course_id': 13}
{'student_id': 10, 'name': 'Uskho', 'major': 'Mathematics Science', 'course_id': 14}
{'student_id': 11, 'name': 'Nicolas', 'major': 'Physics', 'course_id': 4}
{'student_id': 12, 'name': 'Saputra', 'major': 'Software Engineering', 'course_id': 15}

In [35]:
#TUGAS 1
print("\n=== Total Course Setiap Department ===")

pipeline_total_course = [
    {'$group': {
        '_id': '$department',
        'total_courses': {'$sum': 1}
    }},
    {'$project': {
        '_id': 0,
        'department': '$_id',
        'total_courses': 1
    }}
]

for result in courses_collection.aggregate(pipeline_total_course):
    print(result)

=== Total Course Setiap Department ===
{'total_courses': 9, 'department': 'Computer Science'}
{'total_courses': 2, 'department': 'History'}
{'total_courses': 6, 'department': 'Mathematics'}
{'total_courses': 1, 'department': 'Physics'}

In [36]:
#TUGAS 2
print("\n=== Course COMPUTER SCIENCE dengan Enrollments > 25 ===")

pipeline_filter_cs = [
    {'$match': {
        'department': 'Computer Science',
        'enrollments': {'$gt': 25}
    }},
    {'$group': {
        '_id': '$department',
        'jumlah_course_lolos': {'$sum': 1}
    }}
]

for result in courses_collection.aggregate(pipeline_filter_cs):
    print(result)

=== Course COMPUTER SCIENCE dengan Enrollments > 25 ===
{'_id': 'Computer Science', 'jumlah_course_lolos': 7}

In [37]:
#TUGAS 3
import pandas as pd

lookup_stage = [
    {
        '$lookup': {
            'from': 'students',
            'localField': 'course_id',
            'foreignField': 'course_id',
            'as': 'students_info'
        } } ]

project_stage = [
    {
        '$project': {
            '_id': 0,
            'students_info._id': 0
        }
    }
]

pipeline = lookup_stage + project_stage

result = list(courses_collection.aggregate(pipeline))
df = pd.DataFrame(result)
df['student_count'] = df['students_info'].apply(lambda x: len(x))
df_clean = df.drop(columns=['students_info'])

print(df_clean)

               course  enrollments        department  course_id  student_count
0            Math 101           30       Mathematics        NaN              0
1              CS 102           32  Computer Science        NaN              0
2         History 201           20           History        NaN              0
3            Math 101           30       Mathematics        1.0              2
4              CS 102           25  Computer Science        2.0              2
5         History 201           18           History        3.0              1
6         Physics 202           15           Physics        4.0              1
7          Algorithms           40  Computer Science        5.0              0
8       Discrete Math           26       Mathematics       20.0              0
9   Operating Systems           33  Computer Science       21.0              0
10      Discrete Math           26       Mathematics       20.0              0
11  Operating Systems           33  Computer Science       21.0              0
12    AI Fundamentals           29  Computer Science       30.0              0
13      Advanced Java           18  Computer Science       31.0              0
14      Discrete Math           26       Mathematics       20.0              0
15  Operating Systems           33  Computer Science       21.0              0
16      Discrete Math           26       Mathematics       20.0              0
17  Operating Systems           33  Computer Science       21.0              0