In [2]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")

db = client["company_db"]
collection = db["employees"]
print("✅ Connected to MongoDB")

✅ Connected to MongoDB

In [17]:
#KONEKSI DAN PERSIAPAN DATABASE
from pymongo import MongoClient

klien = MongoClient("mongodb://localhost:27017/")

database = klien['perusahaan']

koleksi = database['pegawai']

In [18]:
# 2. CREATE / MENAMBAHKAN DATA
data_pegawai = {
    'nama': 'Alice',
    'departemen': 'Keuangan',
    'usia': 29,
    'gaji': 4500
}
koleksi.insert_one(data_pegawai)
print('Data Alice berhasil ditambahkan.')

# Menambahkan beberapa data sekaligus
data_tambahan = [
    {'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6000},
    {'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000},
    {'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 7000},
    {'nama': 'Eko', 'departemen': 'IT', 'usia': 24, 'gaji': 3800}
]
koleksi.insert_many(data_tambahan)
print('Data tambahan berhasil ditambahkan.')

Data Alice berhasil ditambahkan.
Data tambahan berhasil ditambahkan.

In [19]:
# 3. READ / MENAMPILKAN DATA
print("\n=== 🄳🄰🅃🄰 🄿🄴🄶🄰🅆🄰🄸 🅂🄰🄰🅃 🄸🄽🄸 ===")
for pegawai in koleksi.find():
    print(pegawai)

=== 🄳🄰🅃🄰 🄿🄴🄶🄰🅆🄰🄸 🅂🄰🄰🅃 🄸🄽🄸 ===
{'_id': ObjectId('6902b91f98ecb15dd8257c14'), 'nama': 'Alice', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 4500}
{'_id': ObjectId('6902b91f98ecb15dd8257c15'), 'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6000}
{'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000}
{'_id': ObjectId('6902b91f98ecb15dd8257c17'), 'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 7000}
{'_id': ObjectId('6902b91f98ecb15dd8257c18'), 'nama': 'Eko', 'departemen': 'IT', 'usia': 24, 'gaji': 3800}

In [21]:
# 4. UPDATE / MEMPERBARUI DATA
# Contoh 1: Update satu data berdasarkan nama
koleksi.update_one(
    {'nama': 'Budi'},                
    {'$set': {'gaji': 6500}}         
)
print("\nGaji Budi berhasil diperbarui.")

# Contoh 2: Update banyak data sekaligus
koleksi.update_many(
    {'departemen': 'Keuangan'},
    {'$inc': {'gaji': 4000}}          
)
print("Gaji seluruh pegawai di departemen Keuangan dinaikkan.")

print("\n=== 𝔻𝔸𝕋𝔸 𝕊𝔼𝕋𝔼𝕃𝔸ℍ 𝕌ℙ𝔻𝔸𝕋𝔼 ===")
for pegawai in koleksi.find():
    print(pegawai)

Gaji Budi berhasil diperbarui.
Gaji seluruh pegawai di departemen Keuangan dinaikkan.

=== 𝔻𝔸𝕋𝔸 𝕊𝔼𝕋𝔼𝕃𝔸ℍ 𝕌ℙ𝔻𝔸𝕋𝔼 ===
{'_id': ObjectId('6902b91f98ecb15dd8257c14'), 'nama': 'Alice', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 12500}
{'_id': ObjectId('6902b91f98ecb15dd8257c15'), 'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6500}
{'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000}
{'_id': ObjectId('6902b91f98ecb15dd8257c17'), 'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 15000}
{'_id': ObjectId('6902b91f98ecb15dd8257c18'), 'nama': 'Eko', 'departemen': 'IT', 'usia': 24, 'gaji': 3800}

In [23]:
# 5. DELETE / MENGHAPUS DATA

# Contoh 1: Hapus satu data
koleksi.delete_one({'nama': 'Eko'})
print("\n𝘿𝙖𝙩𝙖 𝙀𝙠𝙤 𝙗𝙚𝙧𝙝𝙖𝙨𝙞𝙡 𝙙𝙞𝙝𝙖𝙥𝙪𝙨.")

# Contoh 2: Hapus semua pegawai dengan gaji di bawah 4000
koleksi.delete_many({'gaji': {'$lt': 4000}})
print("Semua pegawai dengan gaji di bawah 4000 berhasil dihapus.")

# Tampilkan hasil akhir
print("\n=== 𝐃𝐀𝐓𝐀 𝐀𝐊𝐇𝐈𝐑 ===")
for pegawai in koleksi.find():
    print(pegawai)

𝘿𝙖𝙩𝙖 𝙀𝙠𝙤 𝙗𝙚𝙧𝙝𝙖𝙨𝙞𝙡 𝙙𝙞𝙝𝙖𝙥𝙪𝙨.
Semua pegawai dengan gaji di bawah 4000 berhasil dihapus.

=== 𝐃𝐀𝐓𝐀 𝐀𝐊𝐇𝐈𝐑 ===
{'_id': ObjectId('6902b91f98ecb15dd8257c14'), 'nama': 'Alice', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 12500}
{'_id': ObjectId('6902b91f98ecb15dd8257c15'), 'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6500}
{'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000}
{'_id': ObjectId('6902b91f98ecb15dd8257c17'), 'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 15000}

In [26]:
##### 6. VERSI INTERAKTIF

from pymongo import MongoClient

# Koneksi ke MongoDB lokal
klien = MongoClient("mongodb://localhost:27017/")
database = klien['perusahaan']
koleksi = database['pegawai']

def tampilkan_data():
    print("\n=== 🅳🅰🆃🅰 🅿🅴🅶🅰🆆🅰🅸 ===")
    for pegawai in koleksi.find():
        print(pegawai)
    print("====================\n")

while True:
    print("=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===")
    print("1. Tambah data pegawai")
    print("2. Lihat semua data")
    print("3. Update data pegawai")
    print("4. Hapus data pegawai")
    print("5. Keluar")

    pilihan = input("𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱): ")

    # CREATE
    if pilihan == "1":
        nama = input("Masukkan nama pegawai: ")
        departemen = input("Masukkan departemen: ")
        usia = int(input("Masukkan usia: "))
        gaji = int(input("Masukkan gaji: "))

        data_baru = {
            'nama': nama,
            'departemen': departemen,
            'usia': usia,
            'gaji': gaji
        }

        koleksi.insert_one(data_baru)
        print(f"Data pegawai {nama} berhasil ditambahkan.\n")

    # READ
    elif pilihan == "2":
        tampilkan_data()

    # UPDATE
    elif pilihan == "3":
        nama_dicari = input("Masukkan nama pegawai yang ingin diupdate: ")
        data = koleksi.find_one({'nama': nama_dicari})

        if data:
            print(f"Data ditemukan: {data}")
            bidang = input("Bidang apa yang ingin diubah? (departemen/usia/gaji): ").lower()
            nilai_baru = input("Masukkan nilai baru: ")

            # Ubah tipe data jika perlu
            if bidang == 'usia' or bidang == 'gaji':
                nilai_baru = int(nilai_baru)

            koleksi.update_one({'nama': nama_dicari}, {'$set': {bidang: nilai_baru}})
            print(f"Data pegawai {nama_dicari} berhasil diperbarui.\n")
        else:
            print("Pegawai tidak ditemukan.\n")

    # DELETE
    elif pilihan == "4":
        nama_hapus = input("Masukkan nama pegawai yang ingin dihapus: ")
        hasil = koleksi.delete_one({'nama': nama_hapus})

        if hasil.deleted_count > 0:
            print(f"Data pegawai {nama_hapus} berhasil dihapus.\n")
        else:
            print("Data tidak ditemukan.\n")

    # KELUAR
    elif pilihan == "5":
        print("Program selesai. Terima kasih telah menggunakan sistem CRUD pegawai.")
        break

    else:
        print("Pilihan tidak valid, silakan coba lagi.\n")

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  1
Masukkan nama pegawai:  Nazril
Masukkan departemen:  Database
Masukkan usia:  27
Masukkan gaji:  3500

Data pegawai Nazril berhasil ditambahkan.

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  2

=== 🅳🅰🆃🅰 🅿🅴🅶🅰🆆🅰🅸 ===
{'_id': ObjectId('6902b91f98ecb15dd8257c14'), 'nama': 'Alice', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 12500}
{'_id': ObjectId('6902b91f98ecb15dd8257c15'), 'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6500}
{'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000}
{'_id': ObjectId('6902b91f98ecb15dd8257c17'), 'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 15000}
{'_id': ObjectId('6902bd7498ecb15dd8257c1c'), 'nama': 'Nazril', 'departemen': 'Database', 'usia': 27, 'gaji': 3500}
====================

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  3
Masukkan nama pegawai yang ingin diupdate:  Rio

Data ditemukan: {'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 26, 'gaji': 4000}

Bidang apa yang ingin diubah? (departemen/usia/gaji):  usia
Masukkan nilai baru:  29

Data pegawai Rio berhasil diperbarui.

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  2

=== 🅳🅰🆃🅰 🅿🅴🅶🅰🆆🅰🅸 ===
{'_id': ObjectId('6902b91f98ecb15dd8257c14'), 'nama': 'Alice', 'departemen': 'Keuangan', 'usia': 29, 'gaji': 12500}
{'_id': ObjectId('6902b91f98ecb15dd8257c15'), 'nama': 'Budi', 'departemen': 'IT', 'usia': 32, 'gaji': 6500}
{'_id': ObjectId('6902b91f98ecb15dd8257c16'), 'nama': 'Rio', 'departemen': 'HRD', 'usia': 29, 'gaji': 4000}
{'_id': ObjectId('6902b91f98ecb15dd8257c17'), 'nama': 'Syahwa', 'departemen': 'Keuangan', 'usia': 35, 'gaji': 15000}
{'_id': ObjectId('6902bd7498ecb15dd8257c1c'), 'nama': 'Nazril', 'departemen': 'Database', 'usia': 27, 'gaji': 3500}
====================

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  4
Masukkan nama pegawai yang ingin dihapus:  Budi

Data pegawai Budi berhasil dihapus.

=== 🅼🅴🅽🆄 🅾🅿🅴🆁🅰🆂🅸 🅿🅴🅶🅰🆆🅰🅸 ===
1. Tambah data pegawai
2. Lihat semua data
3. Update data pegawai
4. Hapus data pegawai
5. Keluar

𝗣𝗶𝗹𝗶𝗵 𝗺𝗲𝗻𝘂 (𝟭-𝟱):  5

Program selesai. Terima kasih telah menggunakan sistem CRUD pegawai.

In [27]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 6166.666666666667}
{'_id': 'IT', 'average_salary': 4900.0}
{'_id': 'HR', 'average_salary': 4000.0}

In [30]:
# 2. AGGREGATION UNTUK RATA-RATA GAJI PER DEPARTEMEN
pipeline = [
    {
        '$group': {
            '_id': '$departemen',                 
            'rata_rata_gaji': {'$avg': '$gaji'}   
        }
    }
]

# Menjalankan pipeline agregasi
print("=̲=R̲A̲T̲A̲-̲R̲A̲T̲A̲ ̲G̲A̲J̲I̲ ̲P̲E̲R̲ ̲D̲E̲P̲A̲R̲T̲E̲M̲E̲N=̲=")
for hasil in koleksi.aggregate(pipeline):
    print(f"Departemen: {hasil['_id']}, Rata-rata Gaji: {hasil['rata_rata_gaji']:.2f}")

=̲=R̲A̲T̲A̲-̲R̲A̲T̲A̲ ̲G̲A̲J̲I̲ ̲P̲E̲R̲ ̲D̲E̲P̲A̲R̲T̲E̲M̲E̲N=̲=
Departemen: Keuangan, Rata-rata Gaji: 13750.00
Departemen: HRD, Rata-rata Gaji: 4000.00
Departemen: Database, Rata-rata Gaji: 3500.00

In [31]:
#Mengurutkan hasil berdasarkan rata-rata gaji tertinggi
pipeline = [
    {'$group': {'_id': '$departemen', 'rata_rata_gaji': {'$avg': '$gaji'}}},
    {'$sort': {'rata_rata_gaji': -1}} 
]

In [34]:
pipeline = [
    {
        '$group': {
            '_id': '$departemen',
            'rata_rata_gaji': {'$avg': '$gaji'},
            'jumlah_pegawai': {'$sum': 1}
        }
    }
]
print("==ⒽⒶⓈⒾⓁ ⒶⒼⒼⓇⒺⒼⒶⓈⒾ==")
for hasil in koleksi.aggregate(pipeline):
    print(f"Departemen: {hasil['_id']}, "
          f"Rata-rata Gaji: {hasil['rata_rata_gaji']:.2f}, "
          f"Jumlah Pegawai: {hasil['jumlah_pegawai']}")

==ⒽⒶⓈⒾⓁ ⒶⒼⒼⓇⒺⒼⒶⓈⒾ==
Departemen: Keuangan, Rata-rata Gaji: 13750.00, Jumlah Pegawai: 2
Departemen: HRD, Rata-rata Gaji: 4000.00, Jumlah Pegawai: 1
Departemen: Database, Rata-rata Gaji: 3500.00, Jumlah Pegawai: 1

In [39]:
# Membuat koleksi baru bernama 'products' (4.1)
products = db['products']

# Menambahkan beberapa data produk ke dalam koleksi
data_produk = [
    {'nama': 'Laptop A', 'kategori': 'Elektronik', 'harga': 8500000, 'stok': 10},
    {'nama': 'Laptop B', 'kategori': 'Elektronik', 'harga': 12000000, 'stok': 7},
    {'nama': 'Kipas Angin', 'kategori': 'Perabot', 'harga': 350000, 'stok': 25},
    {'nama': 'Televisi', 'kategori': 'Elektronik', 'harga': 5000000, 'stok': 5},
    {'nama': 'Dispenser', 'kategori': 'Perabot', 'harga': 700000, 'stok': 15},
    {'nama': 'Kursi Kayu', 'kategori': 'Perabot', 'harga': 450000, 'stok': 12},
    {'nama': 'Mouse Wireless', 'kategori': 'Aksesori', 'harga': 150000, 'stok': 30},
    {'nama': 'Keyboard Mechanical', 'kategori': 'Aksesori', 'harga': 550000, 'stok': 20},
    {'nama': 'Smartphone', 'kategori': 'Elektronik', 'harga': 4500000, 'stok': 8},
    {'nama': 'Lampu LED', 'kategori': 'Perabot', 'harga': 80000, 'stok': 50}
]

# Memasukkan seluruh data ke koleksi
products.insert_many(data_produk)
print("𝙳𝚊𝚝𝚊 𝚙𝚛𝚘𝚍𝚞𝚔 𝚋𝚎𝚛𝚑𝚊𝚜𝚒𝚕 𝚍𝚒𝚖𝚊𝚜𝚞𝚔𝚔𝚊𝚗")

𝙳𝚊𝚝𝚊 𝚙𝚛𝚘𝚍𝚞𝚔 𝚋𝚎𝚛𝚑𝚊𝚜𝚒𝚕 𝚍𝚒𝚖𝚊𝚜𝚞𝚔𝚔𝚊𝚗

In [40]:
# Menghitung rata-rata harga seluruh produk (4.2)
hasil_rata2 = list(products.aggregate([
    {'$group': {'_id': None, 'rata_rata_harga': {'$avg': '$harga'}}}
]))

# Menyimpan nilai rata-rata harga dari hasil aggregation
rata_rata_harga = hasil_rata2[0]['rata_rata_harga']
print(f"Rata-rata harga produk: {rata_rata_harga:.2f}")

# Menampilkan produk dengan harga di atas rata-rata
print("\n𝗣𝗿𝗼𝗱𝘂𝗸 𝗱𝗲𝗻𝗴𝗮𝗻 𝗵𝗮𝗿𝗴𝗮 𝗱𝗶 𝗮𝘁𝗮𝘀 𝗿𝗮𝘁𝗮－𝗿𝗮𝘁𝗮:")
for p in products.find({'harga': {'$gt': rata_rata_harga}}):
    print(p)

Rata-rata harga produk: 3228000.00

𝗣𝗿𝗼𝗱𝘂𝗸 𝗱𝗲𝗻𝗴𝗮𝗻 𝗵𝗮𝗿𝗴𝗮 𝗱𝗶 𝗮𝘁𝗮𝘀 𝗿𝗮𝘁𝗮－𝗿𝗮𝘁𝗮:
{'_id': ObjectId('6902c04f98ecb15dd8257c1d'), 'nama': 'Laptop A', 'kategori': 'Elektronik', 'harga': 8500000, 'stok': 10}
{'_id': ObjectId('6902c04f98ecb15dd8257c1e'), 'nama': 'Laptop B', 'kategori': 'Elektronik', 'harga': 12000000, 'stok': 7}
{'_id': ObjectId('6902c04f98ecb15dd8257c20'), 'nama': 'Televisi', 'kategori': 'Elektronik', 'harga': 5000000, 'stok': 5}
{'_id': ObjectId('6902c04f98ecb15dd8257c25'), 'nama': 'Smartphone', 'kategori': 'Elektronik', 'harga': 4500000, 'stok': 8}
{'_id': ObjectId('6902c06c98ecb15dd8257c27'), 'nama': 'Laptop A', 'kategori': 'Elektronik', 'harga': 8500000, 'stok': 10}
{'_id': ObjectId('6902c06c98ecb15dd8257c28'), 'nama': 'Laptop B', 'kategori': 'Elektronik', 'harga': 12000000, 'stok': 7}
{'_id': ObjectId('6902c06c98ecb15dd8257c2a'), 'nama': 'Televisi', 'kategori': 'Elektronik', 'harga': 5000000, 'stok': 5}
{'_id': ObjectId('6902c06c98ecb15dd8257c2f'), 'nama': 'Smartphone', 'kategori': 'Elektronik', 'harga': 4500000, 'stok': 8}
{'_id': ObjectId('6902c0fa98ecb15dd8257c31'), 'nama': 'Laptop A', 'kategori': 'Elektronik', 'harga': 8500000, 'stok': 10}
{'_id': ObjectId('6902c0fa98ecb15dd8257c32'), 'nama': 'Laptop B', 'kategori': 'Elektronik', 'harga': 12000000, 'stok': 7}
{'_id': ObjectId('6902c0fa98ecb15dd8257c34'), 'nama': 'Televisi', 'kategori': 'Elektronik', 'harga': 5000000, 'stok': 5}
{'_id': ObjectId('6902c0fa98ecb15dd8257c39'), 'nama': 'Smartphone', 'kategori': 'Elektronik', 'harga': 4500000, 'stok': 8}

In [42]:
# Membuat pipeline untuk menghitung total produk dalam setiap kategori (4.3)
pipeline = [
    {
        '$group': {
            '_id': '$kategori',
            'total_produk': {'$sum': 1},
            'rata_rata_harga': {'$avg': '$harga'}
        }
    },
    {
        '$sort': {'total_produk': -1}  # Urutkan dari kategori dengan produk terbanyak
    }
]

print("\n𝐓𝐨𝐭𝐚𝐥 𝐩𝐫𝐨𝐝𝐮𝐤 𝐩𝐞𝐫 𝐤𝐚𝐭𝐞𝐠𝐨𝐫𝐢:")
for hasil in products.aggregate(pipeline):
    print(hasil)

𝐓𝐨𝐭𝐚𝐥 𝐩𝐫𝐨𝐝𝐮𝐤 𝐩𝐞𝐫 𝐤𝐚𝐭𝐞𝐠𝐨𝐫𝐢:
{'_id': 'Perabot', 'total_produk': 12, 'rata_rata_harga': 395000.0}
{'_id': 'Elektronik', 'total_produk': 12, 'rata_rata_harga': 7500000.0}
{'_id': 'Aksesori', 'total_produk': 6, 'rata_rata_harga': 350000.0}

In [49]:
# Pipeline untuk mencari 5 karyawan dengan gaji tertinggi di setiap departemen
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},  # Urutkan berdasarkan departemen dan gaji (desc)
    {
        '$group': {
            '_id': '$department',
            'top_employees': {'$push': {'nama': '$name', 'gaji': '$salary'}}
        }
    },
    {
        '$project': {
            '_id': 1,
            'top_5_employees': {'$slice': ['$top_employees', 5]}
        }
    }
]

# Memperbaiki format agar Rapi
print("=== 𝟻 𝙺𝙰𝚁𝚈𝙰𝚆𝙰𝙽 𝙳𝙴𝙽𝙶𝙰𝙽 𝙶𝙰𝙹𝙸 𝚃𝙴𝚁𝚃𝙸𝙽𝙶𝙶𝙸 𝙿𝙴𝚁 𝙳𝙴𝙿𝙰𝚁𝚃𝙴𝙼𝙴𝙽 ===\n")
for d in collection.aggregate(pipeline):
    print(f"\nDepartemen: {d['_id']}\n" + "-" * 45)
    print("\n".join([f"{i+1}. {e['nama']:<20} | Gaji: Rp {e['gaji']:,.0f}"
                     for i, e in enumerate(d['top_5_employees'])]))
    print("-" * 45)

=== 𝟻 𝙺𝙰𝚁𝚈𝙰𝚆𝙰𝙽 𝙳𝙴𝙽𝙶𝙰𝙽 𝙶𝙰𝙹𝙸 𝚃𝙴𝚁𝚃𝙸𝙽𝙶𝙶𝙸 𝙿𝙴𝚁 𝙳𝙴𝙿𝙰𝚁𝚃𝙴𝙼𝙴𝙽 ===


Departemen: Finance
---------------------------------------------
1. Diana                | Gaji: Rp 7,000
2. Diana                | Gaji: Rp 7,000
3. Ifan                 | Gaji: Rp 7,000
4. Ifan                 | Gaji: Rp 7,000
5. Alice                | Gaji: Rp 4,500
---------------------------------------------

Departemen: HR
---------------------------------------------
1. Charlie              | Gaji: Rp 4,000
2. Charlie              | Gaji: Rp 4,000
3. Bagas                | Gaji: Rp 4,000
4. Bagas                | Gaji: Rp 4,000
---------------------------------------------

Departemen: IT
---------------------------------------------
1. Bob                  | Gaji: Rp 6,000
2. Bob                  | Gaji: Rp 6,000
3. Joko                 | Gaji: Rp 6,000
4. Joko                 | Gaji: Rp 6,000
5. Evan                 | Gaji: Rp 3,800
---------------------------------------------

In [53]:
# --- TUGAS 2: Menghapus Karyawan yang Berusia di Bawah 25 Tahun ---

print("=== DATA KARYAWAN SEBELUM PENGHAPUSAN ===")
for emp in collection.find({}, {'_id': 0, 'name': 1, 'age': 1, 'department': 1}):
    print(emp)
kriteria = {'age': {'$lt': 25}}

hasil_hapus = collection.delete_many(kriteria)
print(f"\n Jumlah karyawan yang dihapus: {hasil_hapus.deleted_count}")

print("\n== 𝔻𝔸𝕋𝔸 𝕂𝔸ℝ𝕐𝔸𝕎𝔸ℕ 𝕊𝔼𝕋𝔼𝕃𝔸ℍ ℙ𝔼ℕ𝔾ℍ𝔸ℙ𝕌𝕊𝔸ℕ ==")
for emp in collection.find({}, {'_id': 0, 'name': 1, 'age': 1, 'department': 1}):
    print(emp)

=== DATA KARYAWAN SEBELUM PENGHAPUSAN ===
{'name': 'Alice', 'department': 'Finance', 'age': 29}
{'name': 'Bob', 'department': 'IT', 'age': 32}
{'name': 'Charlie', 'department': 'HR', 'age': 26}
{'name': 'Diana', 'department': 'Finance', 'age': 35}
{'name': 'Alice', 'department': 'Finance', 'age': 29}
{'name': 'Bob', 'department': 'IT', 'age': 32}
{'name': 'Charlie', 'department': 'HR', 'age': 26}
{'name': 'Diana', 'department': 'Finance', 'age': 35}
{'name': 'Joko', 'department': 'IT', 'age': 32}
{'name': 'Bagas', 'department': 'HR', 'age': 26}
{'name': 'Ifan', 'department': 'Finance', 'age': 35}
{'name': 'Joko', 'department': 'IT', 'age': 32}
{'name': 'Bagas', 'department': 'HR', 'age': 26}
{'name': 'Ifan', 'department': 'Finance', 'age': 35}

 Jumlah karyawan yang dihapus: 0

== 𝔻𝔸𝕋𝔸 𝕂𝔸ℝ𝕐𝔸𝕎𝔸ℕ 𝕊𝔼𝕋𝔼𝕃𝔸ℍ ℙ𝔼ℕ𝔾ℍ𝔸ℙ𝕌𝕊𝔸ℕ ==
{'name': 'Alice', 'department': 'Finance', 'age': 29}
{'name': 'Bob', 'department': 'IT', 'age': 32}
{'name': 'Charlie', 'department': 'HR', 'age': 26}
{'name': 'Diana', 'department': 'Finance', 'age': 35}
{'name': 'Alice', 'department': 'Finance', 'age': 29}
{'name': 'Bob', 'department': 'IT', 'age': 32}
{'name': 'Charlie', 'department': 'HR', 'age': 26}
{'name': 'Diana', 'department': 'Finance', 'age': 35}
{'name': 'Joko', 'department': 'IT', 'age': 32}
{'name': 'Bagas', 'department': 'HR', 'age': 26}
{'name': 'Ifan', 'department': 'Finance', 'age': 35}
{'name': 'Joko', 'department': 'IT', 'age': 32}
{'name': 'Bagas', 'department': 'HR', 'age': 26}
{'name': 'Ifan', 'department': 'Finance', 'age': 35}

In [56]:
# === TUGAS 3 ===
pipeline = [
    {
        '$group': {
            '_id': '$department',                  
            'total_gaji': {'$sum': '$salary'},     
            'rata_umur': {'$avg': '$age'},         
            'jumlah_karyawan': {'$sum': 1}         
        }
    },
    {
        '$sort': {'_id': 1}  
    }
]
print("＝ ＬＡＰＯＲＡＮ ＴＯＴＡＬ ＧＡＪＩ ＆ ＲＡＴＡ－ＲＡＴＡ ＵＭＵＲ ＰＥＲ ＤＥＰＡＲＴＥＭＥＮ ＝\n")

for hasil in collection.aggregate(pipeline):
    departemen = hasil['_id']
    total_gaji = hasil['total_gaji']
    rata_umur = hasil['rata_umur']
    jumlah = hasil['jumlah_karyawan']
    
    print(f"Departemen       : {departemen}")
    print(f"Jumlah Karyawan  : {jumlah}")
    print(f"Total Gaji       : Rp {total_gaji:,.0f}")
    print(f"Rata-rata Umur   : {rata_umur:.1f} tahun")
    print("-" * 50)

＝ ＬＡＰＯＲＡＮ ＴＯＴＡＬ ＧＡＪＩ ＆ ＲＡＴＡ－ＲＡＴＡ ＵＭＵＲ ＰＥＲ ＤＥＰＡＲＴＥＭＥＮ ＝

Departemen       : Finance
Jumlah Karyawan  : 6
Total Gaji       : Rp 37,000
Rata-rata Umur   : 33.0 tahun
--------------------------------------------------
Departemen       : HR
Jumlah Karyawan  : 4
Total Gaji       : Rp 16,000
Rata-rata Umur   : 26.0 tahun
--------------------------------------------------
Departemen       : IT
Jumlah Karyawan  : 4
Total Gaji       : Rp 24,000
Rata-rata Umur   : 32.0 tahun
--------------------------------------------------